* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;

  .item {
    position: relative;
    width: calc((100% - 30px) / 4);
    &:hover .info {
      display: flex;
    }
  }
  img {
    width: 100%;
  }

  .info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: rgba(0,0,0, 0.75);
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: space-around;

    h3{ 
      color: gold;
      text-align: center;
    }
    p {
      font-size: small;
      margin: 0 0 4px 0; 
    }
    .cast {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .date { color: #ccc; }
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0,0,0, 1);
  display: none;
  
  .btn_close {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 5px;
  }
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}